SERVICE_NAME=usuarios-service
PORT=5001

DATABASE_URL=postgresql://svc_portal_b2b:senha_portal_b2b@136.114.235.212:5432/portal_b2b
DB_SCHEMA=portal_b2b

# JWT
JWT_SECRET=TROQUE_ESTA_CHAVE_PARA_UMA_LONGA_DE_NO_MINIMO_32_CARACTERES_AAAAAAAA
JWT_ISSUER=portal-autenticacao
JWT_AUDIENCE=portal-b2b
JWT_EXPIRATION_MINUTES=240

# CORS (separar por virgula)
CORS_ALLOWED_ORIGINS=http://localhost:8082,http://127.0.0.1:8082
